.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
  
}

#header {
  position: relative;
  top: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 80px;
  text-align: left;
  background-color: #8896da;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-color: #d0d5ec;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  height: 10px;
  padding-top: 20px;
  padding-bottom: 40px;
  color: black;
  text-align: right;
  background-color: #8896da;
}

#footer p {
  margin: 0;
  font-size: 16px;
}

table {
  width: 10px;
}

th {
  height: 30px;
  width: 10px;
}

tr {
  height: 30px;
  width: 10px;
}
